@{
    ViewData["Title"] = "Home Page";
}




<div class="IndexDiv">
    <p><h1 class="text-center font-weight-bolder">Inventory Manager</h1></p>
    <div class="row m-2">

        <div class="col-8 text-muted">
            <p><h5>Maintain your Products Inventory</h5></p>
        </div>
        <div class="col-4">
            <img src="~/images/inventorymagement.png" class="img-fluid" />
        </div>
    </div>
</div>
